html {
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	padding: 0px;
	font-family: Lato;
}

#main {
	height: 98vh;
	background-image: url(wall.jpg);
}

.button {
	background-color: orange;
	border-radius: 6px;
	padding: 4px;
	margin: 12px;
	min-width: 100px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border-width: 2px;
	border-color: white;
	border-style: solid;
}

.button:hover {
	cursor: pointer;
	color: black;
	background-color: #acd;
}

#add-button-container {
	margin-left: calc(50% - 20px);
	position: absolute;
	height: 40px;
	top: calc(100vh - 84px);
}

#add-button {
	z-index: 100;
	box-shadow: 4px 4px 2px #aaa;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	color: white;
	border-radius: 100px;
	background-color: orange;
	border-style: none;
	height: 60px;
	width: 60px;
	line-height: 56px;
	box-shadow: 4px 4px 2px #aaa;
}

#add-button:hover {
	cursor: pointer;
	color: black;
	background-color: #acd;
}

#add-options {
	left: calc(50% - 100px);
	width: 200px;
}

.container {
	z-index: 100;
	display: none;
	text-align: center;
	background-color: #eee;
	border-radius: 18px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	padding: 12px;
	top: 40%;
	position: absolute;
	line-height: 42px;
	text-align: center;
	font-weight: bold;
}

#add-post-input-container {
	width: 300px;
	left: calc(50% - 150px);
}

#add-post-input-container input {
	width: 100%;
}

#toast {
	z-index: 200;
	background-color: #ddd;
	border-radius: 4px;
	width: 90%;
	position: absolute;
	top: calc(100vh - 80px);
	padding: 8px;
	font-weight: bold;
}

#wall-title {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	background-color: rgba(100, 100, 100, 0.3);
	padding-bottom: 4px;
}

.message {
	position: absolute;
	background-color: rgba(100, 200, 255, 0.6);
	padding: 18px;
	font-size: 24px;
	width: 200px;
	border-radius: 22px;
}
